primary-image    cf1:\timos\cpm.tim
primary-config   cf1:\config.cfg
address          {{ vsc_dcm_ip }}/{{vsc_dcm_ip_subnet}}
{{ dns_ips|trim }}
dns-domain       {{ dns_domain_name }}
{{ vsc_static_routes }}
autonegotiate
duplex           full
speed            100
wait             3
persist          off
no li-local-save
no li-separate
console-speed    115200
