---

auto br-dcm
allow-ovs br-dcm
iface br-dcm inet manual
ovs_type OVSBridge
ovs_ports {{ br_dcm_interface }}

allow-br-dcm {{ br_dcm_interface }}
iface {{ br_dcm_interface}} inet manual
ovs_bridge br-dcm
ovs_type OVSPort

post-up ip link set dev br-dcm up

