---

auto br-tul
allow-ovs br-tul
iface br-tul inet manual
ovs_type OVSBridge
ovs_ports {{ br_tul_interface }}

allow-br-tul {{ br_tul_interface }}
iface {{ br_tul_interface }} inet manual
ovs_bridge br-tul
ovs_type OVSPort

post-up ip link set dev br-tul up
