{#
#}
<network><name>{{ vsc_dcm_virsh_net }}</name>
    <forward mode="bridge"/>
    <bridge name="{{ vsc_dcm_bridge }}"/>
    <virtualport type="openvswitch"/>
{%- if vsc_dcm_has_vlan_tag | bool -%}
    <portgroup name='{{ vsc_dcm_port_gr_name }}'>
      <vlan>
        <tag id='{{ vsc_dcm_vlan_tag }}'/>
      </vlan>
    </portgroup>
{%- endif -%}
</network>
